<!-- <div style="width: 100%; height: 100%;"> -->
    <video 
        #server
        [srcObject]="stream"
        style="width: 100%; max-width: 100%; height: auto;">
    </video>
    <video 
        #client
        style="width: 100%; max-width: 100%; height: auto;">
    </video>

    <button class="abs" [ngClass]="startButtonClasses" (click)="start()" style="left: 20px;">Start</button>
    <button class="abs" [ngClass]="stopButtonClasses" (click)="stop()" style="left: 70px;">Stop</button>
    <button class="abs" (click)="getSources()" style="left: 120px;">Video source:</button>
<!-- </div> -->